html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

img {
  width: 130px;
  height: 130px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container h1 {
  padding: 25px;
  margin: 0px;
  font-family: "Rufina";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
}

.container1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 100px 0px;
  background-color: #233000;
  width: 100%;
  height: 150%;
  border: 1px solid #000000;
}

p {
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-size: 30px;
  line-height: 200%;
}

.cumbuca {
  display: flex;
  position: absolute;
  margin-top: 500px;
  border: none;
  outline: none;
}

#img1 {
  margin-right: 75px;
  background-color: none;
  background-image: url("img-pi/7b941b1b6666f3ccb0e6224fa2149340.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border:0;
  outline: none;
}

#img2 {
  margin-right: 75px;
  background-image: url("img-pi/19d513a7bff4f1eaa9c71d9ea9eebf5d.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border:0;
  outline: none;
}

#img3 {
  background-image: url("img-pi/5e8cb1674171b17b8fc0b5c7153d6345.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border:0;
  outline: none;
}

.texto2 {
  top: -70px;
  position: absolute;
  font-family: "Rufina";
  font-style: normal;
  color: white;
  font-size: 28px;
  margin: 650px 1000px 0px 0px;
}

.feirinha {
  width: 654px;
  height: 454px;
  margin: 100px 0px 0px 400px;
  border-radius: 10px;
}

.diversas {
  position: absolute;
  margin: 750px 0px 0px -1280px;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.tempero {
  position: absolute;
  margin: 590px 0px 0px -377px;
  width: 300px;
  height: 465px;
  border-radius: 10px;
}

.container3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1175px 0px;
  background-color: white;
  width: 100%;
  height: 150%;
  border: 1px solid #000000;
}
.fornecedores {
  position: absolute;
  margin: 50px -600px;
  font-family: "Rufina";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 70px;
  width: 200px;
}

.fornecedores2 {
  color: black;
  font-size: 20px;
  margin: 210px -600px;
  width: 600px;
  line-height: 25px;
}

.imgfornecedores {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -90px;
  left: 1500px;
  width: 600px;
  height: 900px;
  transform: rotate(-126.48deg);
  opacity: 0.5;
}

.u-custom-color-1,
        .u-body.u-custom-color-1,
        section.u-custom-color-1:before,
        .u-custom-color-1 > .u-container-layout:before,
        .u-custom-color-1 > .u-inner-container-layout:before,
        .u-custom-color-1.u-sidenav:before,
        .u-container-layout.u-container-layout.u-custom-color-1:before,
        .u-table-alt-custom-color-1 tr:nth-child(even)
        {
            color: #ffffff;
            background-color: #233000;
        }

        .u-button-style.u-custom-color-1,
        .u-button-style.u-custom-color-1[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: #233000 !important;
        }

        .u-button-style.u-custom-color-1:hover,
        .u-button-style.u-custom-color-1[class*="u-border-"]:hover,
        .u-button-style.u-custom-color-1:focus,
        .u-button-style.u-custom-color-1[class*="u-border-"]:focus,
        .u-button-style.u-button-style.u-custom-color-1:active,
        .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]:active,
        .u-button-style.u-button-style.u-custom-color-1.active,
        .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"].active,
        li.active > .u-button-style.u-button-style.u-custom-color-1,
        li.active > .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: #202b00 !important;
        }


        #ZonaOrg {

          font-size: 40px !important;
          color: black;

        }